<div class="max-w-4xl mx-auto p-4">
  <h1 class="text-3xl font-bold text-gray-800">{{ event.name }}</h1>
  <div *ngFor="let image of event.images" class="w-full h-48">
    <img class="w-full h-full object-cover" src="{{image.imageUrl}}" alt="{{ event.name }} Image">
  </div>
  <p class="mt-2 text-lg"><strong>Date:</strong> {{ event.date | date:'fullDate' }}</p>
  <p class="text-lg"><strong>Location:</strong> {{ event.location }}</p>
  <p class="text-lg mb-4"><strong>Description:</strong> {{ event.description }}</p>

  <div *ngIf="event.isRegistrationOpen" class="mb-4">
    <a routerLink="/events/{{event.id}}/register" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">Register for Event</a>
  </div>
  <div *ngIf="!event.isRegistrationOpen">
    <p class="text-red-500">Registration for this event is currently closed.</p>
  </div>

  <!-- Edit Event Button -->
  <a [routerLink]="['/events', event.id, 'edit']" class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out mr-2" *ngIf="isAdmin">Edit Event</a>

  <!-- Back to Events List Button -->
  <a routerLink="/events" class="inline-block text-blue-500 hover:text-blue-700 transition duration-300 ease-in-out">Back to Events List</a>

  <div *ngIf="isAdmin">
    <p class="text-lg mb-4"><strong>Attendees:</strong></p>
    <div *ngFor="let attendee of event.attendees">
    {{attendee.firstName}} {{attendee.lastName}} - {{attendee.email}}
    </div>
  </div> 
</div>

