img.frame {
  border-image: url('//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/frame.png') 93 92 87 92 stretch stretch; 
  border-color: #f4be52;
  border-style: inset;
  border-width: calc(10px + 1vw);
  display: block;
  width: 100%;
  height: auto;
  background-color: #ffe;
  margin: 0 auto;
}
