<!-- gallery-detail.component.html -->
<ng-container *ngIf="item">
  <div class="max-w-4xl mx-auto p-4">
    <h1 class="text-3xl font-bold text-gray-800">{{ item.name }}</h1>
    <div class="w-full h-auto">
      <img class="w-full max-w-md mx-auto h-auto" src="{{item.imageUrl}}" alt="{{ item.name }} Image">
    </div>
    <p class="text-lg mb-4"><strong>Description:</strong> {{ item.description }}</p>
    <div>
      <button *ngIf="isAdmin" (click)="editItem(item.id)" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded mr-2">
        Edit
      </button>
      <button *ngIf="isAdmin" (click)="deleteItem(item.id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">
        Delete
      </button>
    </div>
  </div>
</ng-container>


