<!-- event-item.component.html -->
<a href="#" class="relative block transform transition duration-300 hover:scale-105 hover:bg-blue-50 rounded-lg overflow-hidden shadow-lg hover:shadow-xl" routerLinkActive="active" [routerLink]="[event.id]">
  <!-- Background Image with Opacity -->
  <div class="relative overflow-hidden rounded-xl h-96">
    <img src="{{event.images[0]?.imageUrl}}" alt="{{ event.name }} Image" class="w-full h-full object-contain">
  </div>
  
  
  <!-- Text Content -->
  <div class="relative z-10 bg-white bg-opacity-75 p-4">
    <h4 class="text-lg text-blue-600 font-semibold">{{ event.date | date:'mediumDate' }}</h4>
    <h5 class="text-xl font-bold text-gray-800 mt-1">{{ event.name }}</h5>
    <h5 class="text-md text-gray-600 mt-1">{{ event.location }}</h5>
  </div>
</a>

