<div class="w-full bg-gray-100 p-4">
  <button *ngIf="isAdmin" (click)="newItem()" class="mb-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    New Gallery Item
  </button>
  <div *ngFor="let category of groupedItems | keyvalue" class="bg-white p-4 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
    <h2>{{ category.key }}</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div *ngFor="let item of category.value">
        <cc-gallery-item [item]="item"></cc-gallery-item>
      </div>
    </div>
  </div>
</div>

