<div class="max-w-4xl mx-auto p-4 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">Edit Event</h2>
    <form [formGroup]="editForm" (ngSubmit)="submitEdit()" class="space-y-4">
        <div>
            <label for="name" class="block text-sm font-medium text-gray-700">Event Name:</label>
            <input 
                formControlName="name"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                type="text"
                id="name"
                required>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Date:</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date" placeholder="MM/DD/YYYY">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint>Format: MM/DD/YYYY</mat-hint>
            </mat-form-field>
          </div>

        <div class="col-xs-12 form-group">
            <label class="inline-flex items-center">
                <input type="checkbox" formControlName="isVirtual" class="form-checkbox h-5 w-5 text-green-600">
                <span class="ml-2 text-gray-700">Virtual Event</span>
            </label>
        </div>

        <div *ngIf="!editForm.get('isVirtual').value">
            <div>
                <label for="location" class="block text-sm font-medium text-gray-700">Location:</label>
                <input 
                    formControlName="location"
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                    type="text"
                    id="location"
                    required>
            </div>
        </div>
        <div class="col-sm-12 form-group">
          <label for="price" class="block text-sm font-medium text-gray-700">Price:</label>
          <input
              formControlName="price"
              id="price"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
      </div>

        <div class="col-sm-12 form-group">
            <label for="description" class="block text-sm font-medium text-gray-700">Description:</label>
            <textarea
                formControlName="description"
                id="description"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"></textarea>
        </div>

        <div formArrayName="attendees" class="space-y-2">
            <label class="block text-sm font-medium text-gray-700">
                Attendees:
            </label>
            <div  *ngIf="showModifyEvent; else showPastEvent" >
            <form [formGroup]="newAttendeeForm" (ngSubmit)="addAttendee()">
                <input type="text" formControlName="firstName" placeholder="First Name" class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                <input type="text" formControlName="lastName" placeholder="Last Name" class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                <input type="email" formControlName="email" placeholder="Email" class="flex-1 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded transition duration-300 ease-in-out">Add Attendee</button>
            </form>
            </div>
            <ng-template #showPastEvent>
                <div class="text-red-500 font-bold mb-2">
                  This event is in the past!
                </div>
              </ng-template>

            <!-- Attendees List Container -->
            <div class="max-w-4xl mx-auto">
                <!-- Headers -->
                <div class="flex mb-4 text-gray-700 bg-gray-100 p-3 rounded-t-lg">
                    <div class="flex-1 font-semibold">First Name</div>
                    <div class="flex-1 font-semibold">Last Name</div>
                    <div class="flex-1 font-semibold">Email</div>
                    <div class="w-20">Actions</div>
                </div>
            
                <!-- Attendee Rows -->  
                <div *ngFor="let attendee of attendees.controls; let i = index" [formGroupName]="i" class="flex items-center justify-between p-3 bg-white border-b border-gray-200">
                    <div class="flex-1 pr-2">
                        <input type="text" formControlName="firstName" readonly class="w-full bg-gray-100 text-gray-800 rounded-lg p-2 cursor-not-allowed">
                    </div>
                    <div class="flex-1 px-2">
                        <input type="text" formControlName="lastName" readonly class="w-full bg-gray-100 text-gray-800 rounded-lg p-2 cursor-not-allowed">
                    </div>
                    <div class="flex-1 pl-2">
                        <input type="text" formControlName="email" readonly class="w-full bg-gray-100 text-gray-800 rounded-lg p-2 cursor-not-allowed">
                    </div>
                    
                    <button type="button" (click)="removeAttendee(i)" class="ml-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
                        Remove
                    </button>
                </div>
            </div>
        </div>

        <!--
            <div class="form-group">
            <label for="imageUrl" class="block text-sm font-medium text-gray-700">Image URL:</label>
            <input formControlName="imageUrl" type="text" id="imageUrl" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
        </div>
    -->
        <!-- Gallery Images -->
          
            <div class="pr-4">
              <h3 class="text-lg font-bold mb-2">Available Galleries</h3>
              <div *ngIf="galleries.length > 0" class="grid grid-cols-1 md:grid-cols-[70%_30%] gap-4">
              <!-- Available Galleries Drop List -->
              <div cdkDropList [cdkDropListData]="galleries" [cdkDropListConnectedTo]="['selectedImages']" (cdkDropListDropped)="drop($event)" class="flex flex-wrap gap-2 overflow-auto" style="max-height: 80vh;">
                <div *ngFor="let gallery of galleries" cdkDrag class="w-32 h-32">
                  <img [src]="gallery.imageUrl" [alt]="gallery.name" class="w-full h-full object-cover">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="galleries.length === 0">Loading galleries...</div>
        
          <div class="pl-4">
            <h3 class="text-lg font-bold mb-2">Selected Images</h3>
            <p class="text-sm text-gray-500 mb-2">Drag and drop items here</p>
            <!-- Selected Images Drop List -->
            <div cdkDropList id="selectedImages" formArrayName="images" [cdkDropListData]="editForm.get('images').value" (cdkDropListDropped)="drop($event)" class="flex flex-wrap gap-2 p-4 border-2 border-dashed border-gray-300">
              <div *ngFor="let image of images.controls; let i=index" [formGroupName]="i" cdkDrag class="relative w-32 h-32">
                <img [src]="image.get('imageUrl').value" [alt]="'Selected Image ' + i" class="w-full h-full object-cover">
                <button (click)="removeImage(i)" class="absolute top-0 right-0 m-1 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          
          
          
<!--  
        <div class="form-group">
            <label for="isRegistrationOpen" class="block text-sm font-medium text-gray-700">Registration Open:</label>
            <input formControlName="isRegistrationOpen" type="checkbox" id="isRegistrationOpen" class="form-checkbox h-5 w-5 text-green-600">
        </div>

        -->
        <div *ngIf="!showModifyEvent" class="text-red-500 font-bold mb-2">
          This event is in the past and cannot be edited
        </div>
        <button 
          [ngClass]="{
            'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out': showModifyEvent,
            'bg-gray-500 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out cursor-not-allowed': !showModifyEvent
          }" 
          [disabled]="!showModifyEvent" 
          type="submit">
          Save Changes
        </button>
        <button type="button" (click)="cancelEdit()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">Cancel</button>
    </form>
</div>