<form [formGroup]="galleryForm" (ngSubmit)="submitEdit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of GalleryCategory | keyvalue" [value]="category.value">
        {{category.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <img *ngIf="currentImageUrl" [src]="currentImageUrl" alt="Image Preview" class="w-full max-w-md mx-auto h-auto">
  </div>
  
  <mat-form-field appearance="fill">
    <mat-label>Image URL</mat-label>
    <input matInput formControlName="imageUrl" (input)="onImageUrlChange($event)">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Save</button>
  <button type="button" (click)="cancelEdit()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">Cancel</button>
</form>

