<form [formGroup]="galleryForm" (ngSubmit)="submitEdit()" class="w-full flex flex-col overflow-auto" style="height: 80vh;">
  <!-- Name Field -->
  <mat-form-field appearance="fill" class="w-full mb-4">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <!-- Description Field -->
  <mat-form-field appearance="fill" class="w-full flex-grow mb-4">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" rows="5"></textarea>
  </mat-form-field>

  <!-- Category Field -->
  <mat-form-field appearance="fill" class="w-full mb-4">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of GalleryCategory | keyvalue" [value]="category.value">
        {{category.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Image Preview -->
  <div class="w-full max-w-md mx-auto my-4">
    <img *ngIf="imagePreview || currentImageUrl" [src]="imagePreview || currentImageUrl" alt="Image Preview" class="w-full h-auto rounded-md shadow-md">
  </div>

   <!-- Cloudflare Upload Button -->
   <input type="file" accept="image/*" (change)="onFileSelected($event)" class="mb-4">

  <!-- Buttons -->
  <div class="flex justify-between mt-auto pt-4">
    <button mat-raised-button color="primary" type="submit">Save</button>
    <button type="button" (click)="cancelEdit()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">Cancel</button>
  </div>
</form>