<form [formGroup]="galleryForm" (ngSubmit)="submitEdit()" class="w-full flex flex-col overflow-auto" style="height: 80vh;">
  <!-- Name Field -->
  <mat-form-field appearance="fill" class="w-full mb-4">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" maxLength="50">
  </mat-form-field>

  <!-- Description Field -->
  <mat-form-field appearance="fill" class="w-full flex-grow mb-4">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" rows="5" maxLength="2000"></textarea>
  </mat-form-field>

  <!-- Category Field -->
  <mat-form-field appearance="fill" class="w-full mb-4">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of GalleryCategory | keyvalue" [value]="category.value">
        {{category.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Image Preview -->
  <div class="w-full max-w-md mx-auto my-4">
    <img *ngIf="imagePreview || currentImageUrl" [src]="imagePreview || currentImageUrl" alt="Image Preview" class="w-full h-auto rounded-md shadow-md">
  </div>

   <!-- Cloudflare Upload Button -->
   <input type="file" accept="image/*" (change)="onFileSelected($event)" formControlName="file" class="mb-4">

   <!-- Buttons -->
   <div class="flex justify-between mt-auto pt-4">

    <button 
   
      type="submit"
      [disabled]="!galleryForm.valid"
      class="save-button"
      [ngClass]="{
            'bg-blue-600 text-white font-bold py-2 pl-20 pr-20 rounded shadow-md hover:bg-blue-700 transition duration-300 ease-in-out cursor-pointer': galleryForm.valid,
            'bg-gray-400 text-gray-700 font-bold py-2 px-20 rounded opacity-50 cursor-not-allowed': !galleryForm.valid
          }"
          >
      Save
    </button>
    <button 
      type="button" 
      (click)="cancelEdit()" 
      class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out hover:cursor-pointer"
    >
      Cancel
    </button>
    
  </div>
  
  <!-- <pre>{{ galleryForm.valid | json }}</pre>
<pre>{{ galleryForm.value | json }}</pre> -->
</form>
