
.modal-content {
  @apply fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto z-50 flex items-center justify-center;
}


.main-content {
  @apply flex-grow bg-white items-center;
  width: 80%;
  margin: auto;
}

.background-wrapper {
  position: relative;
  min-height: calc(100vh); /* Full viewport minus header */
  background-image: url('https://pub-6630fcbc41224102b416e06d4e3f914b.r2.dev/CCS_Images/canvas_background.jpg');
  background-size: cover;
  background-position: top center;
}

.content-container {
  position: relative; 
}


