.active {
  color: #fbbf24; 
  border-bottom: 2px solid #fbbf24; 
}

.alternate-colors {
  background-color: #f9e8d9;
  color: #58c2c0
}

.gallery-colors {
  background-color: #000000;
  color: #5891c3
}

.default-colors {
  background-color: #342c25;
  color: #f9e8d9;
}

.footer-link {
  color: #5891c3;
}

@keyframes slideDown {
  from { max-height: 0; opacity: 0; }
  to { max-height: 300px; opacity: 1; }
}

@keyframes slideUp {
  from { max-height: 300px; opacity: 1; }
  to { max-height: 0; opacity: 0; }
}

.flex-col {
  animation: slideDown 0.3s ease-out;
}

.hidden {
  animation: slideUp 0.3s ease-out;
}

debug {
  background-color: red !important;
  height: 50px !important;
  opacity: 1 !important;
}

.hamburger7 {
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.hamburger7 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff; /* Adjust color as needed */
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  transform-origin: center;
}

.hamburger7 span:nth-of-type(1) {
  top: 0px;
}

.hamburger7 span:nth-of-type(2) {
  top: 9px;
}

.hamburger7 span:nth-of-type(3) {
  top: 18px;
}

.hamburger7.active span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 9px;
  left: 0;
}

.hamburger7.active span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.hamburger7.active span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 9px;
  left: 0;
}