<div style="background-color: #f4f4f4; padding: 10px; text-align: center; font-size: 12px; color: #999;">
    <img src="https://pub-6630fcbc41224102b416e06d4e3f914b.r2.dev/large_title.png" alt="Company Logo" style="max-width: 300px; height: auto; width: 100%;">
    <p style="margin: 5px 0; font-size: 14px;">Phone: 607-423-1464 | Email: <a href="mailto:christy.paints13838@gmail.com" style="color: #999; text-decoration: none;">Cross Creek Studio</a></p>
    <p style="margin: 5px 0;">© 2025 Cross Creek Studio. All rights reserved.</p>
</div>