<!-- page-not-found.component.html -->
<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="text-center">
    <img src="https://pub-6630fcbc41224102b416e06d4e3f914b.r2.dev/404image.png" alt="404 Not Found" class="w-50 mx-auto mb-4">
    <h1 class="text-4xl font-bold mb-2">Oops! Page Not Found</h1>
    <p class="text-lg mb-4">Hmmm...Something is definitely missing here.</p>
    <a routerLink="/" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Go Back Home</a>
  </div>
</div>
